/*flex for header and nav*/

* {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Dekko', cursive;
}
main {
background-color: #A2CEF2;
}
/*Header start*/
header {
    padding: 1em 0 1em 0;
    background-color: #004D9D;
    color: #EDF2F6;
    text-align: center;
}
header h1 {
    font-size: 1.8em;
    margin: 0 -8em;
}
#header-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title h2 {
    display: inline-block;
    font-size: 1em;
}
.conditions {
    display: none;
    max-width: 115px;
}
#current-conditions {
    max-width: 100%;
}
.logo-box {
    padding: 0;
}
.logo-box figure {
    margin: 0;
}
.logo-box figure img {
    width: 75px;
}
.adjust {
    font-size: .8em;
}
#logo {
    margin: 1em;
    width: 3em;
}
/*Header end*/
/*Nav start*/
nav {
    background-color: #63A4D7;
    color: #004D9D;
    text-align: center;
}
nav button {
    padding: .2rem;
    background-color: transparent;
    border: none;
    font-size: xx-large;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    font-size: larger;
}
nav ul.hide {
    display: none;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1em;
}
li a:hover {
    background-color: #004D9D;
    color: #EDF2F6;
}
li a:visited {
    color: #172703;
}
li .selected {
    background-color: #A2CEF2;
}

.forecast,
article,
.text,
.body-title {
    margin: 0;
    color: #004d9d;
    text-align: center;
}
.body-title h1 {
    margin: 0;
    padding: 1em 0 .6em 0;
}
main .body-title h3 {
    font-size: 2em;
}
main .forecast h3,
main .text h3,
main .map h3 {
    font-size: 1.5em;
    padding: 1em 0;
}
/*Gallery only*/
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.gallery-grid figure {
    margin: 0;
    padding: 1em;
}
.gallery-grid figure img {
    width: auto;
}

/*HERO BOX*/
#weather-summary {
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: #EDF2F6;
    border: 3px solid #004d9d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em 1em;
    padding: .5em; 
}
.weather-details {
    font-size: .8em;
}
#sunny {
    display: block;
    width: 100%;
}
.weather-box {
    position: relative;
    color: #004D9D;
    padding: 1em .2em;
}
/*weekly temp start*/
.forecast {
    display: none;
}
/*weekly temp end*/
/*Weather summary start*/

article h3 {
    text-align: center;
}
article.text {
    color: #004D9D;
    font-size: 1.1em;
}
.article-box {
    display: flex;
    flex-direction: column-reverse;
}
.story {
    padding: .5em;
    text-align: start;
}
/*Weather summary end*/
/*Map start*/
.map {
    font-size: 18px;
    color: #004D9D;
    padding: 0 0 1em;
    text-align: center;
}
.contact-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center; 
    font-size: 1.1em;
}
.contact {
    padding: 0 1em 1em 1em
}
.map h3 {
    order: 1;
}
.gmap-canvas iframe {
    width: 100%;
}
/*Map end*/
/*Footer start*/
footer {
    background-color: #004D9D;
    color: #EDF2F6;
    display: block;
    text-align: center;
    font-size: 1.1em;
}
#about {
    display: inline-block;
    margin: 1em;
}
#about a:link {
    color: #EDF2F6;
}
#about a:visited {
    color: #EDF2F6;
}
span#currentdate {
    display: block;

}
/*Footer end*/
