

* {
    margin: 0;
    box-sizing: border-box;
    /*
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    */
}

main{
    margin: 1rem auto;
    padding: 3rem;
    max-width: auto;
    margin: 2.5em;
    text-align: center;
}

header h3 {
    text-align: right;
    height: auto;
}

header img {
    float: left;
    height: 5em;
    padding: 0em 0em 1em 0em;
}

/*Font types*/
header, footer {
    font-family: 'dekko', sans-serif;
    text-align: center;
    padding: 1em;
    background-color: #2D426C;
}

nav {
    background-color: #BBC0B5;
    text-align: center;
}

/*Navigation menu*/
.navigation-menu li {
    margin: 0em 1em;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    display: inline-table;
    font-size: 16px;
    border: 2px solid #BBC0B5;
    padding: .3em;
    color: #2D426C;
}

#storm {
    max-width: 850px;
    padding: 1em;
}

.title {
    color: #DA9DD8;
    text-align: center;
}

.body-title {
    color: #774577;
    font-size: 2.5em;
    padding: 0em 2em 0em 2em;
    border: 5px solid #BBC0B5;
    margin: 1em 10em 1em 10em;
}

.text {
    color: #2D426C;
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    padding: 10px;
    border: 5px solid #BBC0B5;
    margin: 1em 1em;
}

.image-left {
    padding: 1em;
    float: left;
    max-width: 300px;
}

.image-right {
    padding: 1em;
    float: right;
    max-width: 300px;
}
