
@media screen and (max-width: 1280px) {
    main {
        margin: 0 auto;
        max-width: 950px;
    }
}

@media screen and (max-width: 650px) {
    main {
        margin: 0;
    }
    .conditions {
        display: none;
    }
    .logo-box {
        width: 80px;
        height: initial;
    }
    figure img {
        max-width: -webkit-fill-available;
    }
    .hide li {
        display: none;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        width: 100%;
    }
    nav button {
        display: flex;
        padding: .2rem;
        background-color: transparent;
        border: none;
        font-size: xx-large;
        margin: 0 auto;
    }
    nav ul.hide {
        display: none;
    }
    li a:hover {
        color: #004D9D;
    }
    .hide {
        flex-direction: column;
        border-top: 1px;
    }
    .weather-details {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        text-align: right;
    }
    .label-box {
        min-width: -webkit-fill-available;
        padding: 1em;
    }
    section table {
        font-size: small;
    }
    section.forecast {
        margin: 0;
    }
    .text {
        margin: 0;
    }
    main div.text {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    div.mapouter {
        align-self: center;
    }
    .adjust-contact {
        text-align: center;
    }
}

/*Small 360*460 screen*/
@media screen and (max-width: 500px) {

    header h1 {
        font-size: 1.3em;
        margin: 0 -8em;
    }
    .title h2 {
        display: inline-block;
        font-size: smaller;
        width: 80px;
        text-align: center;
    }
    .title {
        margin: 5% 0 0 0;
        min-width: 200px;
    }
    #header-box {
        height: 100px;
    }
    .conditions {
        display: none;
    }
    .logo-box {
        max-width: -webkit-fill-available;
        padding: 0;
    }
    .adjust {
        font-size: .8em;
    }
    #logo {
        margin: 1em;
        width: 3em;
    }
    main,
    .forecast,
    article,
    .text,
    .body-title {
        margin: 0;
    }
    #weather-summary {
        font-size: 10px;
        width: 40%;
    }
    .forecast {
        display: none;
    }
    .text {
        margin: 0;
        flex-direction: column-reverse;
    }
    p.value {
        padding: 0 0 .5em 7em;
    }
    .adjust-contact {
        width: 100%;
        font-size: large;
    }
}
