
* {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/*HEADER START*/
header, footer {
    background-color: #2D426C;
    font-family: 'dekko', sans-serif;
}

#header-box {
    height: 150px;
}

footer {
    height: 80px;
    text-align: center;
}

.conditions {
    color: #DA9DD8;
    display: inline-block;
    height: 100px;
    margin: 2em 0;
    vertical-align: top;
    width: 30%;
    padding-right: 15%;
}

#current-conditions {
    width: 6em;
    max-width: 80px;
}

.logo-box {
    display: inline-block;
    height: 100px;
    margin: 2em 0;
    vertical-align: top;
    width: 30%;
    padding-left: 24%;
}

#logo {
    width: 6em;
    max-width: 80px;
}

.title {
    color: #DA9DD8;
    display: inline-block;
    height: 100px;
    margin: 1em;
    vertical-align: top;
    width: 30%;
    text-align: center;
    min-width: 250px;
}

.title h2 {
    font-size: larger;
}
/*HEADER END*/
/*NAVIGATION START*/
nav {
    background-color: #BBC0B5;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    margin: 0 15%;
    padding: 0;
}

/*Navigation menu*/
.navigation-menu li {
    list-style-type: none;
    font-size: .8em;
    font-weight: bold;
    color: #2D426C;
    padding: .4em;
}
/*NAVIGATION END*/
/*MAIN START*/
main {
    margin: 0 15%;
}
/*CITY NAME*/
.body-title {
    color: #774577;
    padding: 1em;
    border: 5px solid #BBC0B5;
    text-align: center;
    margin: 2.5% 35%;
}
/*HERO BOX*/
#storm {
    display: block;
    width: 90%;
    padding: 1em;
    margin: 0 5%;
}
.weather-box {
    position: relative;
    color: #2D426C;
    font-family: 'montserrat', sans-serif;
    padding: 10px;
    border: 5px solid #BBC0B5;
}
#weather-summary {
    position: absolute;
    top: 12%;
    left: 12%;
    background-color: #BBC0B5;
    width: 30%;
}
/*FORECAST*/
.forecast {
    color: #774577;
    padding: 1em;
    border: 5px solid #BBC0B5;
    text-align: center;
    margin: 2.5% 15%;
}
table {
    text-align: center;
    overflow-x: auto;
    margin: auto;
}
tr, th, td {
    border-bottom: 1px solid #2D426C;
    padding: .5em 1em;
}
/*WEATHER DETAILS*/
.text {
    clear: both;
    color: #2D426C;
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
    padding: 10px;
    border: 5px solid #BBC0B5;
    overflow: auto;
    margin: 1em auto;
}
.adjust h3{
    text-align: center;
}/*
.weather-details {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}*/
.label-box, .value-box {
    padding: 2em 0;
    height: 172px;
}
.label-box {
    display: inline-block;
    vertical-align: top;
    width: 28%;
}
.value-box {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    height: 100px;
}
.label {
    width: 120px;
}
.value {
    text-align: center;
}
.image-right {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    max-width: 315px;
}
/*CONTACT INFO*/
.image-left {
    display: inline-block;
    padding: 1em;
    max-width: 45%;
}
.adjust-contact {
    display: inline-block;
    width: 40%;
    padding: 5%;
    vertical-align: top;
}
/*FOOTER*/

#about {
    color: #DA9DD8;
    display: inline-block;
    height: 50px;
    margin: 1em;
    vertical-align: top;
    width: 30%;
    text-align: center;
    min-width: 250px;
}

/*MAIN END*/