@media screen and (min-width: 900px) {

    nav ul.hide {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    nav button {
        display: none;
    }

    main {
        margin: auto;
        width: 900px;
    }
    .body-title {
        width: 250px;
    }
    .body-title,
    .forecast {
        margin: 1em auto;
    }
    .weather-box,
    article,
    .map {
        margin: 1em 0;
    }

    /*GALLERY ONLY*/
    .gallery-grid {
        grid-template-areas: 'num1 num2 num3' 'num4 num5 num6';
        grid-gap: 20px;
        padding: 1em 0;
    }
    .gallery-grid figure {
        margin: 0;
        padding: 0;
    }
    .gallery-grid figure img {
        width: 285px;
    }
    .gallery-grid figure img:hover {
        box-shadow: 5px 5px 10px #004D9D;
    }
}