/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */


* { margin: 0; box-sizing: border-box; } 


body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 10px solid #bbb;
}

header, main, footer {
    margin: 1rem auto;
    padding: 2rem;
    max-width: 850px;
}

header, footer, footer a {
    text-align: center;
    background-color: navy;
    color: whitesmoke;
}

.style1 {
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #eee;
    line-height: 1.5em;
}

header img {
    width: 130px;
    height: auto;
    float: right;
}

footer {
    font-size: 0.8rem;
}
